// Mixins Here
.top-text (@display, @center, @center) {
    display: @display;
    justify-content: @center;
    text-align: @center;
}

.button (@border, @border, @color, @padding) {
    border: @border;
    border-radius: @border;
    background-color: @color;
    padding: @padding;

    &:hover {
        background-color: @shuttle-gray;
        // opacity: 3rem;
        color: white;
    }
}